{% extends "components/base.html" %} {% block title %}Compare Heroes{% endblock
%} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pages/common.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
  <h1>Compare Heroes</h1>
  <form method="POST" class="actions">
    <div class="compare-select-box">
      <select name="hero1" required>
        <option value="" disabled selected>Select Hero 1</option>
        {% for hero in heroes %}
        <option value="{{ hero[0] }}">{{ hero[1] }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn">Compare</button>
    <div class="compare-select-box">
      <select name="hero2" required>
        <option value="" disabled selected>Select Hero 2</option>
        {% for hero in heroes %}
        <option value="{{ hero[0] }}">{{ hero[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
</div>
{% endblock %}
