<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap"
      rel="stylesheet"
    />
    <title>Your Favorites</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pages/heroes.css') }}"
    />
    {% block head %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pages/common.css') }}"
    />
    {% endblock %}
  </head>
  <body>
    {% extends "components/base.html" %} {% block title %}Your Favorites{%
    endblock %} {% block content %}
    <div class="container">
      <h1>Your Favorite Heroes</h1>
      <div class="actions">
        {% if favorite_heroes %} {% for hero in favorite_heroes %}
        <a href="{{ url_for('hero.hero', id=hero[0]) }}" class="hero-link">
          <div class="hero-card">
            <img src="{{ hero[2] }}" alt="{{ hero[1] }} Avatar" />
          </div>
        </a>
        {% endfor %} {% else %}
        <p class="no-favorites">You have no favorite heroes yet.</p>
        {% endif %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
