{% extends "components/base.html" %} {% block title %}Login{% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pages/login.css') }}"
/>
{% endblock %} {% block content %}
<div class="form-container">
  <h2>Login</h2>
  <form method="POST">
    <div class="login-input-wrapper">
      <input
        type="text"
        name="username"
        placeholder="Username"
        required
        maxlength="50"
        class="login-input"
        id="login-username"
        oninput="document.getElementById('username-char-count').textContent = this.value.length + '/50';"
      />
      <span id="username-char-count" class="char-count">0/50</span>
    </div>
    <br />
    <div class="login-input-wrapper">
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
        maxlength="50"
        class="login-input"
        id="login-password"
        oninput="document.getElementById('password-char-count').textContent = this.value.length + '/50';"
      />
      <span id="password-char-count" class="char-count">0/50</span>
    </div>
    <br />
    <button type="submit" class="login-btn">Login</button>
  </form>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="no-account">
    <span>No Account?</span>
    <a href="{{ url_for('signup.signup') }}" class="signup-link">Signup</a>
  </div>
</div>
{% endblock %}
