<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap"
      rel="stylesheet"
    />
    <title>Signup</title>
  </head>
  <body>
    {% extends "components/base.html" %} {% block title %}Sign Up{% endblock %}
    {% block head %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/pages/signup.css') }}"
    />
    {% endblock %} {% block content %}
    <div class="form-container">
      <h2>Sign Up</h2>
      <form method="POST">
        <div class="signup-input-wrapper">
          <input
            type="text"
            name="username"
            placeholder="Username"
            required
            maxlength="50"
            id="signup-username"
            oninput="document.getElementById('signup-username-count').textContent = this.value.length + '/50';"
          />
          <span id="signup-username-count" class="char-count">0/50</span>
        </div>
        <div class="signup-input-wrapper">
          <input
            type="email"
            name="email"
            placeholder="Email"
            required
            maxlength="50"
            id="signup-email"
            oninput="document.getElementById('signup-email-count').textContent = this.value.length + '/50';"
          />
          <span id="signup-email-count" class="char-count">0/50</span>
        </div>
        <div class="signup-input-wrapper">
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            maxlength="50"
            id="signup-password"
            oninput="document.getElementById('signup-password-count').textContent = this.value.length + '/50';"
          />
          <span id="signup-password-count" class="char-count">0/50</span>
        </div>
        <button type="submit">Sign Up</button>
      </form>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    {% endblock %}
  </body>
</html>
