<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Heroes</title>
    <!-- Google Fonts for Oswald (titles) and Open Sans (text) -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap"
      rel="stylesheet"
    />
    <!-- Linking CSS file for heroes -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/heroes.css') }}"
    />
  </head>
  <body>
    {% extends "base.html" %} {% block title %}All Heroes{% endblock %} {% block
    content %}
    <h1>All Heroes</h1>
    <div class="heroes-grid">
      <!-- Loop through each hero and create a card -->
      <!-- Each card links to the hero's detail page -->
      {% for hero in heroes %}
      <a
        href="{{ url_for('hero.hero', id=hero[0]) }}"
        style="text-decoration: none"
      >
        <div class="hero-card">
          <img src="{{ hero[1] }}" alt="Hero Image" />
        </div>
      </a>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
